%h1= t '.title'

%dl
  = dl_item t('.refresh'), "#{current_user.settings(:ui).refresh} #{t '.millis'}"
  = dl_item t('.fast_refresh'), "#{current_user.settings(:ui).fast_refresh} #{t '.millis'}"
  = dl_item t('.edge'), current_user.settings(:ui).edge
  = dl_item t('.test'), current_user.settings(:ui).test
  = dl_item t('.debug'), current_user.settings(:ui).debug
  = dl_item t('.expand'), current_user.settings(:errors).expand
  = dl_item t('.doc_sources'), current_user.settings(:docs).sources
