%h1= t '.title'

%dl
  = render :partial => 'settings', :locals=>{ :name=>'refresh', :value=>current_user.settings(:ui).refresh }
  = render :partial => 'settings', :locals=>{ :name=>'fast_refresh', :value=>current_user.settings(:ui).fast_refresh }
  = render :partial => 'settings', :locals=>{ :name=>'edge', :value=>current_user.settings(:ui).edge }
  = render :partial => 'settings', :locals=>{ :name=>'test', :value=> current_user.settings(:ui).test }
  = render :partial => 'settings', :locals=>{ :name=>'debug', :value=>current_user.settings(:ui).debug }
  = render :partial => 'settings', :locals=>{ :name=>'expand', :value=>current_user.settings(:errors).expand }
  = render :partial => 'settings', :locals=>{ :name=>'doc_sources', :value=>current_user.settings(:docs).sources }
